<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945245113613-nupiqsc5r9ft2dt4gib1shqi7dp3l2lg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945245113613-nupiqsc5r9ft2dt4gib1shqi7dp3l2lg</string>
	<key>API_KEY</key>
	<string>AIzaSyBi_tDN9EvivBAL6aOUyI2Jeju3ioxvWPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>945245113613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.areegdev.sabbarchallenge.sabbarChallenge</string>
	<key>PROJECT_ID</key>
	<string>sabbar-callange</string>
	<key>STORAGE_BUCKET</key>
	<string>sabbar-callange.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945245113613:ios:070bc74dbc10cac38d7444</string>
	<key>DATABASE_URL</key>
	<string>https://sabbar-callange.firebaseio.com</string>
</dict>
</plist>